:root {
    --base: hsl(249deg, 22%, 12%);
    --foreground: hsl(245deg, 50%, 91%);
    --text: hsl(245deg, 50%, 91%);
    --border-glass: .5px solid hsla(245deg, 50%, 91%, .05); 
    --easing: .15s cubic-bezier(.45,0,0,1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.hidden-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

html,
body {
    height: 100vh;
}

#root {
    background-color: var(--base);
    color: var(--foreground-1);
    min-height: 100%;
    /* height: fit-content; */
    height: 100svh;
    overflow: hidden;

}
